name: Develop checking

on:
  workflow_call:
    inputs:
      pr-branch:
        type: string
        default: testing
        required: false
    secrets:
      slack-webhook:
        required: true
      aws-access-key-id:
        required: true
      aws-secret-access-key:
        required: true
      aws-region:
        required: true

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: ./src/package-lock.json
      - run: npm ci
        working-directory: ./src
      - run: npm test --if-present
        working-directory: ./src
      - run: npm run lint --if-present
        working-directory: ./src

  validate-sam:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - uses: aws-actions/setup-sam@v2
        with:
          version: latest

      - name: Show tool versions
        run: |
          python --version
          node --version
          sam --version

      - name: build SAM
        run: sam build --parallel

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
          aws-region: ${{ secrets.aws-region }}
      
      - name: validate SAM
        run: sam validate --lint

  generate-pr:
    needs: [test, validate-sam]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Generate PR
        id: pr
        uses: repo-sync/pull-request@v2
        with:
          destination_branch: ${{ inputs.pr-branch }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Slack Notify
        if: success()
        continue-on-error: true
        uses: steplix/cicd-notify@1.0.0
        with:
          template: pr
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.slack-webhook }}
          PR_URL: ${{ steps.pr.outputs.pr_url }}
          PR_NUMBER: ${{ steps.pr.outputs.pr_number }}
