name: Deploy lambda SAM

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      pr-branch:
        type: string
        description: Branch name to generate a new pull request when all workflow is success, the PR isn't generate if don't pass this arg.
        required: false
    secrets:
      variables:
        required: false
      slack-webhook:
        required: true
      aws-access-key-id:
        required: true
      aws-secret-access-key:
        required: true
      aws-region:
        required: true

jobs:
  check-aws-credentials:
    runs-on: ubuntu-22.04
    outputs:
      is-valid: ${{ steps.is-valid.outputs.is-valid }}
    steps:
        - id: is-valid
          if: "${{ env.access-key != '' && env.secret-key != '' && env.region != '' }}"
          run: echo "is-valid=true" >> $GITHUB_OUTPUT
          env:
              access-key: ${{ secrets.aws-access-key-id }}
              secret-key: ${{ secrets.aws-secret-access-key }}
              region: ${{ secrets.aws-region }}

  build-deploy:
    needs: check-aws-credentials
    if: needs.check-aws-credentials.outputs.is-valid == 'true'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - uses: aws-actions/setup-sam@v2

      - name: build SAM
        run: sam build --parallel --config-env ${{ inputs.environment }}

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
          aws-region: ${{ secrets.aws-region }}
      
      - name: deploy
        run: sam deploy --no-confirm-changeset --no-fail-on-empty-changeset --config-env ${{ inputs.environment }} --parameter-overrides Environment=${{ inputs.environment }} ${{ secrets.variables }}

  generate-pr:
    needs: build-deploy
    if: ${{ inputs.pr-branch != '' }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: create-pr
        id: pr
        uses: repo-sync/pull-request@v2
        with:
          destination_branch: ${{ inputs.pr-branch }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_title: 'Merge ${{ github.ref }} into ${{ inputs.pr-branch }}'

      - name: Slack Notify
        if: success()
        continue-on-error: true
        uses: steplix/cicd-notify@1.0.0
        with:
          template: pr
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.slack-webhook }}
          PR_URL: ${{ steps.pr.outputs.pr_url }}
          PR_NUMBER: ${{ steps.pr.outputs.pr_number }}

  slack-notify:
    runs-on: ubuntu-22.04
    needs:
      - check-aws-credentials
      - build-deploy
      - generate-pr
    if: failure()
    continue-on-error: true
    steps:
      - name: Slack Notify
        uses: steplix/cicd-notify@1.0.0
        with:
          template: push
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.slack-webhook }}
